@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage"/>

<form id="email-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.IsEmailConfirmed)
    {
        <div class="field">
            <label asp-for="@Model.Email" class="label"></label>
            <div class="control  has-icons-left">
                <input class="input is-success" disabled="disabled" id="email" type="text" value="@Model.Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </div>
    }
    else
    {
        <div class="field">
            <input asp-for="Email" class="label" disabled/>
            <label asp-for="Email" class="input is-primary"></label>
            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
        </div>
    }
    <div class="field">
        <label asp-for="Input.NewEmail" class="label"></label>
        <div class="control  has-icons-left">
            <input class="input is-primary" asp-for="Input.NewEmail" value="">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>
        <span asp-validation-for="Input.NewEmail" class="message is-danger"></span>
    </div>
    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="button is-rounded is-primary">Change email</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}