/** {*/
/*    margin: 0px !important;*/
/*}*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

form.form-right-align {
    display: inline !important;
}

.container {
    margin: 0 auto !important;
}

a.no-ul {
    text-decoration: none;
}