@model Posts
@{
    var title = "A really cool title.";
    var content = "Some awesome content";
    var isDraft = true;
    if (Model is not null)
    {
        title = Model.Title;
        content = Model.Content;
        isDraft = Model.IsDraft;
    }
    ViewData["Title"] = title;
}
<!--
* Copyright (c) 2022. Gavin Pease.
*
* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
* associated documentation files (the "Software"), to deal in the Software without restriction, including
* without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
* of the Software, and to permit persons to whom the Software is furnished to do so, subject to the
* following conditions:
*
* The above copyright notice and this permission notice shall be included in all copies or substantial
* portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
* PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
* LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
* OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
* OTHER DEALINGS IN THE SOFTWARE.
-->
<div class="w3-container">
    <form method="POST">
        <div class="pt-md-2">
            <label asp-for="Title" class="label"></label>
            <input asp-for="Title" type="text" placeholder="A super cool title." class="input" style="width:100%">
            <span asp-validation-for="Title" class="message is-danger"></span>
        </div>
        <div class="pt-md-2">
            <label asp-for="Content" class="label"></label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="message is-danger"></span>
        </div>
        <div class="field">
            <div class="checkbox">
                <label asp-for="IsDraft" class="is-secondary"></label>
                <input type="checkbox" class="form-check-input" asp-for="IsDraft"/>
            </div>
        </div>
        <div class="field">
            <div class="buttons">
                <input type="submit" class="button is-primary" value="Submit"></input>
                <a href="/" class="button is-warning">Cancel</a>
            </div>
        </div>

        <br/>
        <br/>
    </form>
</div>