@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<!--
* Copyright (c) 2022. Gavin Pease.
*
* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
* associated documentation files (the "Software"), to deal in the Software without restriction, including
* without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
* of the Software, and to permit persons to whom the Software is furnished to do so, subject to the
* following conditions:
*
* The above copyright notice and this permission notice shall be included in all copies or substantial
* portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
* PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
* LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
* OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
* OTHER DEALINGS IN THE SOFTWARE.
-->
@inject UserManager<Poster> UserManager

@{
    var isAdmin = User.IsInRole("Admin");
}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BlogSite.styles.css" asp-append-version="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bulma.css">
    <title>@ViewData["Title"]</title>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    BlogSite
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu " id="navbar">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                    @{
                        if (isAdmin)
                        {
                            <div class="navbar-item has-dropdown is-hoverable">
                                <div class="navbar-link">
                                    Posts
                                </div>
                                <div class="navbar-dropdown" id="navbar">
                                    <a class="navbar-item" asp-controller="Post" asp-action="Create">Create Post</a>
                                    <a class="navbar-item" asp-controller="Post" asp-action="Index">View all Posts</a>
                                </div>
                            </div>
                            <a class="navbar-link" asp-controller="Admin" asp-action="Index">Admin</a>
                        }
                    }
                </div>
                <div class="navbar-end">
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="wrapper">
    <main role="main" class="pb-3">
        <div class="container">

            <div id="content-home" class="mt-2">
                @RenderBody()
            </div>
        </div>

    </main>
</div>
<footer class="footer">
    <div class="has-text-centered">
        <div>
            <p>&copy; 2022 - Gavin C. Pease</p>
            <span class="icon">
                <a href="https://github.com/GT3CH1">
                    <i class="fa-brands fa-github"></i>
                </a>
            </span>
            <span class="icon">
                <a href="https://reddit.com/u/GT3CH1">
                    <i class="fa-brands fa-reddit"></i>
                </a>
            </span>
            <span class="icon">
                <a href="https://instagram.com/gcpease">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </span>
            <span class="icon">
                <a href="https://twitter.com/gt3ch1">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </span>
        </div>
        <a href="https://github.com/gt3ch1/BlogSite">Source code</a> licensed under the <a href="http://opensource.org/licenses/mit-license.php">MIT</a> License
    </div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/navbar.js"></script>
<script src="https://kit.fontawesome.com/e00a151875.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>