@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="form-right-align" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <button type="submit" class="w3-black w3-button w3-hover-blue">Logout</button>
    </form>
}
else
{
        @*<li class="nav-item">*@
            @* <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a> *@
        @*</li>*@
    <a class="w3-black w3-button" asp-area="Identity" asp-page="/Account/Login">Login</a>
}