<!--
* Copyright (c) 2022. Gavin Pease.
*
* Permission is hereby granted, free of charge, to any person obtaining a copy of this software and
* associated documentation files (the "Software"), to deal in the Software without restriction, including
* without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
* of the Software, and to permit persons to whom the Software is furnished to do so, subject to the
* following conditions:
*
* The above copyright notice and this permission notice shall be included in all copies or substantial
* portions of the Software.
*
* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
* INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
* PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
* LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT
* OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
* OTHER DEALINGS IN THE SOFTWARE.
-->
@using BlogSite.Controllers
@model List<Posts> 
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
    var data = (string)ViewBag.search;
    var searchValue = (data == null) ? string.Empty : data;
}
<div class="container">
    <div class="mb-4">
        <form href="/">
            <div class="columns is-mobile is-gapless">
                <div class="column is-2 mr-2">
                    <button type="submit" class="button is-info is-light is-rounded is-fullwidth" id="searchButton" value="Search">
                        <span class="icon-text">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                            <span>Search</span>
                        </span>
                    </button>
                </div>

                <div class="column ml-2">
                    <input type="text" class="input is-primary is-rounded" name="search" id="search" placeholder="Search..." value="@searchValue"/>
                </div>
            </div>
        </form>
    </div>
    @{
        Model.Reverse();
        @foreach (var post in Model)
        {
            <div class="mb-4">
                <a href="Post/View/@post.Id" class="no-ul text-black">
                    <div class="card is-rounded">
                        <div class="card-content">
                            <div style="max-width: 500px;">
                                <p class="is-size-3">@post.Title</p>
                            </div>
                            <hr/>
                            <div class="content">
                                <p class="subtitle">
                                    @HomeController.StripHtmlTags(post.Content.Substring(0, Math.Min(post.Content.Length, 500)))
                                </p>
                            </div>
                            <br/>
                            <br/>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>
<br/>
<br/>