@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
@{
    var postIdList = PostDatabaseController.GetPostIdList();
    postIdList.Reverse();
    @for (int count = 0; count < postIdList.Count; count++)
    {
        var postId = postIdList[count];
        var post = PostDatabaseController.GetPostById(postId);
        <div class="w3-row w3-margin">
            <div class="w3-panel w3-card-2 w3-moble w3-white w3-padding-16 w3-left w3-col w3-cell-middle">
                <a href="Posts/View/@postId" class="no-ul w3-text-black w3-large w3-button w3-hover-blue-gray">
                    <span>
                        @post.Title
                    </span>
                </a>
                <hr/>
                <br/>
                &nbsp;
                <span class="w3-left w3-medium w3-text-gray">
                    @{
                        @PostDatabaseController.StripHtmlTags(post.Content.Substring(0, Math.Min(post.Content.Length, 500)))
                    }
                </span>
            </div>
        </div>
    }
}