@model dynamic

@{
    Layout = "_Layout";
}
<center></center>
<table class="w3-table-all w3-rest">
    <tr>
        <th>Post Name</th>
        <th>ID</th>
        <th>Actions</th>
    </tr>
    @{
        var blogController = new PostDatabaseController();
        var postIdList = PostDatabaseController.GetPostIdList();
        postIdList.Reverse();
        var enumerator = postIdList.GetEnumerator();
        @while (enumerator.MoveNext())
        {
            var postId = enumerator.Current;
            var post = PostDatabaseController.GetPostById(postId);
            <tr>
                <td>@post.Title</td>
                <td>@post.Id</td>
                <td><a class="no-ul w3-text-deep-orange" href="/Posts/Edit/@post.Id">Edit</a>&nbsp;|&nbsp;<a class="no-ul w3-text-red"href="/Posts/Delete/@post.Id">Delete</a></td>
            </tr>
        }
    }
</table>