@model BlogSite.Views.Posts.PostsView
@{
    PostModel postRecord = ViewBag.Message;
    ViewData["Title"] = postRecord.Title;
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/prism.css" type="text/css"></link>
    <script src="/js/prism.js"></script>
</head>
<body>
<div>
    <div class="w3-panel">
        <br/>
        <h2>@postRecord.Title</h2>
        <br/>
        <hr/>
        <div class="w3-panel w3-mobile">
            @Html.Raw(postRecord.Content)
        </div>
    </div>
</div>
</body>
</html>