@model BlogSite.Views.Posts.PostsView
@{
    var postTitle = ViewBag.Message.Title;
    var postContent = ViewBag.Message.Content;
    ViewData["Title"] = postTitle;
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/prism.css" type="text/css"></link>
    <script src="/js/prism.js"></script>
</head>
<body>
<div classes="w3-container">
    <div class="w3-panel">
        <br/>
        <h2>@postTitle</h2>
        <br/>
        <hr/>
        <div class="w3-panel w3-mobile">
            @Html.Raw(postContent)
        </div>
    </div>
</div>
</body>
</html>