@model Posts
@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body onload="Prism.highlightAll()">
<div>
    <div>
        <br/>
        <h2>@Model.Title</h2>
        <br/>
        <hr/>
        <br/>
        <div class="w3-mobile">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
</body>
<script>
$(document).ready(function (){
        $("code").addClass("line-numbers");
        $("code").attr("data-prismjs-copy","Copy");
    });
</script>
</html>