@model Posts
@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <div>
        <br/>
        <h2>@Model.Title</h2>
        <br/>
        <hr/>
        <br/>
        <div class="w3-mobile">
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>
</body>
</html>