@model Posts
@{
    ViewData["Title"] = Model.Title;
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
</head>
<body >
<div class="w3-row">
    <br/>
    <h1>@Model.Title</h1>
    <hr/>
    <div class="w3-mobile w3-large">
        @Html.Raw(Model.Content)
    </div>
</div>

</body>
<br/>
<br/>

<script>
var clipboardArr = [];
$(document).ready(function() {
    $('.code-toolbar').each(function(index){
        var toolbarId = 'toolbar-'+index;
        $(this).children('.toolbar').addClass(toolbarId);
        $('.'+toolbarId).append('<div class="copy w3-button w3-dark-gray">Copy</div>');      
    });

    $("pre").each(function (index){
        $(this).addClass('line-numbers');
    });
    
    const clipboard = new Clipboard('.copy', {
      target: (trigger) => {
        console.log();
        return trigger.parentElement.parentElement.children[0];
      }
    });
    clipboard.on('success', (event) => {
      event.trigger.textContent = 'Copied!';
      setTimeout(() => {
        event.clearSelection();
        event.trigger.textContent = 'Copy';
      }, 1000);
    });
    Prism.highlightAll();
});
</script>
<script src="/js/prism.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-GP4x8UWxWyh4BMbyJGOGneiTbkrWEF5izsVJByzVLodP8CuJH/n936+yQDMJJrOPUHLgyPbLiGw2rXmdvGdXHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>