@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/roles.css" />
}
@section Scripts
{
    <script src="/js/role.js"></script>
}
<form action="/Admin/UpdateRole">
<table class="w3-table-all">
    <thead>
    <tr class="w3-metro-darken">
        <td>User Name</td>
        <td>Email</td>
        <td>Administrator</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var u in UserManager.Users.ToArray())
    {
        var isAdmin = await UserManager.IsInRoleAsync(u, "Admin");
        var addRemove = isAdmin ? "remove" : "add";
        <tr>
            <td>@u.UserName</td>
            <td>@u.Email</td>
            <td>
                <label class="switch">
                <input onchange="changeRole('@u.Id','Admin','@addRemove')" type="checkbox" class="w3-radio" @(isAdmin ? "checked" : "")/>
                <span class="slider round"></span>
                </label>
            </td>
        </tr>
    }
    </tbody>
</table>
</form>